@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Rubik;
  }
}
* {
  scroll-behavior: smooth;
  /* Hide scrollbar but still usable */
  /* -ms-overflow-style: none !important; /* IE and Edge */
  /*scrollbar-width: none !important; /* Firefox */
}

/* Hide scrollbar but still usable */
/* *::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
} */

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #171617;
}

main {
  flex: 1 1 0%;
}
